[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "*"
molecule = "*"
molecule-docker = "*"
yamllint = "*"
ansible-lint = "*"

[dev-packages]

[requires]
python_version = "3.10"
