[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "*"
"github3.py" = "*"
jmespath = "*"
molecule = "*"
molecule-docker = "*"
yamllint = "*"

[dev-packages]

[requires]
python_version = "3.10"
