---
#reps:
## Subdirectory name for projects to clone into
##  - path: ""
## List of urls to clone
#    urls: []
reps: []


#additional_hosts:
## - ip: ""
##   hosts:
##     - ""
additional_hosts: []


# List of aliases for shell
#- alias: ""
#  cmd: ""
shell_aliases: []

# List of tags to ignore in playbooks
ignore_tags: []
  # - upgrade
  # - aliases
  # - hosts
  # - chrome
  # - tools
  # - reps
  # - docker
  # - toolbox
  # - sublime
  # - terraform
  # - task
  # - packer
  # - terragrunt
  # - kubectl
  # - k9s
  # - krew
  # - yc
  # - helm
  # - minikube
  # - jx
  # - istioctl
  # - direnv
  # - vscode
  # - dive
  # - telegram